<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 기본 콘솔 로깅 (모든 환경 공통) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- EC2 운영 서버 환경(SPRING_PROFILES_ACTIVE=prod)에서만 ERROR 발생 시 디스코드 비동기 알림 -->
    <springProfile name="prod">
        <springProperty scope="context" name="DISCORD_URL" source="logging.webhook.url" defaultValue=""/>

        <appender name="DISCORD_WEBHOOK" class="life.hanyang.core.global.logging.DiscordLogbackAppender">
            <webhookUrl>${DISCORD_URL}</webhookUrl>
        </appender>

        <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="DISCORD_WEBHOOK" />
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <queueSize>512</queueSize>
            <discardingThreshold>0</discardingThreshold>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC_DISCORD"/>
        </root>
    </springProfile>
</configuration>
